<p>
  You can reset your Asthma Buddy password on
  <%= link_to "this password reset page", edit_password_url(@token) %>.
</p>

<p>This link will expire in 1 hour.</p>

<p>If you did not request a password reset, you can ignore this email.</p>
