<%= turbo_stream.replace "trend_bar" do %>
  <div id="trend_bar">
    <%= render "trend_bar", severity_counts: @severity_counts %>
  </div>
<% end %>

<%= turbo_stream.replace dom_id(@symptom_log),
      partial: "timeline_row",
      locals: { symptom_log: @symptom_log } %>

<%= turbo_stream.replace "flash-messages" do %>
  <div id="flash-messages"
       data-controller="toast"
       data-toast-message="Symptom updated."
       data-toast-variant="success">
  </div>
<% end %>
