<%# Toast notification %>
<%= turbo_stream.replace "flash-messages" do %>
  <div id="flash-messages"
       data-controller="toast"
       data-toast-message="Reading deleted."
       data-toast-variant="success">
  </div>
<% end %>
