<% content_for :title, "Record a reading" %>

<div class="page-header">
  <h1>Record a reading</h1>
</div>

<div class="section-card">
  <%= turbo_frame_tag "peak_flow_reading_form" do %>
    <%= render "form",
          peak_flow_reading: @peak_flow_reading,
          has_personal_best: @has_personal_best,
          personal_best_value: @personal_best_value %>
  <% end %>
</div>
