<%# Replace the medication row with the correct partial based on type %>
<%= turbo_stream.replace dom_id(@medication) do %>
  <%= render medication_partial(@medication), medication: @medication %>
<% end %>

<%# Show inline toast on the list page %>
<%= turbo_stream.replace "flash-messages" do %>
  <div id="flash-messages" data-controller="toast" data-toast-message="<%= @medication.name %> updated." data-toast-variant="success"></div>
<% end %>
